<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-800668375"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-800668375');
    </script>
    <!-- Event snippet for Page view conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-800668375/1uQgCM_1yIoaENf15P0C'
        });
    </script>
</head>
<body>
    <div class="h-screen text-center flex items-center justify-center">
        <span class="uppercase text-3xl md:text-8xl font-bold text-blue-500">Success</span>
    </div>
</body>
</html>